@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  z-index: 100000;
}
.navbar,
.nav-item {
  z-index: 1000;
}
@media screen {
}
